button{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 5px;
    background-color: rgb(54, 52, 52);
    color: white;
    cursor: pointer;
}
.keys{
    display: grid;
    gap: 5px;
}
.display{
    

}